*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-image: url("../image/Info_Cover.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    height: ;
    background-position: 0;

}
.conatiner{

    
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}
h1
{
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}
.im{
margin-top: 10rem;
margin-bottom:5rem;

}
h2{
    font-size: 4rem;
    font-weight:400;


}
p{
    font-size: 2rem;
    line-height: 5rem;
    margin-bottom: 5rem;
}