body{background-image: url("image/Info_Cover.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
position: relative;
text-align: center;}